<h2>Help!</h2>
<div class="card-body">
  <h3 class="card-title">Comany Menとは？</h3>
  <p class="card-text">勤怠管理アプリケーションです</p>
</div>
<div class="card-body">
  <h3 class="card-title">Comany Menの使用方法</h3>
  <p class="card-text">まずアプリケーションから社員を登録してください、その後、勤怠が登録できるようになります</p>
</div>
<div class="card-body">
  <h3 class="card-title">Slackでの勤怠登録方法</h3>
  <p class="card-text"></p>
</div>
