:root {
    --font-color: #4f9fcf;
    --title-color: #007bff;
}

header {
  padding: 15px;
  h1 > a {
    color: var(--title-color);
  }
  h1 > a:hover {
    color: var(--title-color);
    text-decoration: none;
  }
}

.main {
  padding: 10px;
}

.time_sheet_pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time_sheet {
  padding: 10px;
  ._title {
    margin-bottom: 15px;
  }
}

footer {
  text-align: center;

  .footer_link {
    padding-bottom: 10px;
    color: var(--footer-color);
  }
}
